<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
        <header>
            <th:block th:include="~{fragments/navbar}"></th:block>
        </header>

        <main>
            <div class="imageContainer">
                <!--<div style="width: 1489px; height: 1000px; overflow: hidden">-->
                <!--<img src="/img/footman.jpeg" class="responsive">-->
                <!--</div>-->
                <!--<h3 class="login-heading text-center">Welcome to the best Game shop!</h3>-->
                <h1 class="display-3 font-weight-bold text-shadow text-center">Stay like a local</h1>
                <hr/>
                <p>Place where you can buy the best games</p>
            </div>
        </main>

    <footer class="page-footer font-small black">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    </div>
</body>
</html>